/* 
Farvekoder:
yellow - #ecc511
red - #7a0202
gray - #313132
#fff
#000
#222
 */

/* 
 /////// GENERAL //////
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  font-size: 100%;
  overflow: hidden;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
}

li a:hover {
  color: #ecc511;
}

main p {
  line-height: 1.2rem;
}

li,
.logo,
.open_burger,
.close_burger {
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 5rem;
}

/* 
 /////// NAVIGATION MOBILE //////
*/

.desktop_nav {
  display: none;
}
.mobile_nav {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.mobile_nav img {
  object-fit: contain;
  width: 200px;
  height: 5rem;
  padding: 1rem 0;
}

.open_burger {
  font-size: 2.5rem;
  width: 20%;
  margin: 0.3rem 2rem;
  text-align: right;
}

.burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.close_burger {
  font-size: 2.5rem;
  width: 100%;
  padding: 1rem 2rem;
  text-align: right;
}

nav li {
  color: black;
  list-style: none;
}
.burger ul {
  padding: 2rem;
}
.burger li {
  text-align: right;
  font-size: 1.5rem;
  line-height: 4rem;
}

.contact_info_burger {
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.8rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: absolute;
  bottom: 0;
}

.contact_info_burger img,
.contact_info img {
  width: 30px;
  height: 20px;
  object-fit: contain;
  padding: 0;
}

.email,
.tel {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.tel {
  color: #ecc511;
}

/* 
 /////// SPLASH SECTION MOBILE //////
*/

#splash {
  background-image: url(billeder/slider.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  height: 20rem;
  margin-top: 5rem;
}

#splash p {
  line-height: 4rem;
}

.intro_text {
  color: #fff;
  text-shadow: 1px 1px 5px black;
  padding: 6rem 2rem;
}

.intro_text p {
  font-size: 2rem;
  max-width: 30rem;
}
.intro_text h1 {
  font-size: 2.5rem;
  max-width: 30rem;
}

.intro_text button {
  background-color: #7a0202;
  font-size: 1rem;
  color: #fff;
  border: 0;
  padding: 0.3rem 1.5rem;
  margin-top: 1rem;
}

.logo {
  padding-top: 1.2rem;
}

/* 
 /////// WELCOME SECTION MOBILE //////
*/

#welcome {
  padding: 3rem 1rem;
  text-align: center;
  margin-bottom: 3rem;
}

#welcome p {
  font-size: 0.9rem;
  padding: 0 1rem;
}
#welcome h2 {
  line-height: 1.5rem;
  font-size: 1.12rem;
  padding: 0 1rem 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
#welcome figure {
  padding-top: 2rem;
}
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.grid_item {
  width: 100%;
  height: 100%;
}

.grid_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 
 /////// INFO SECTION MOBILE //////
*/

#info {
  background-image: url(billeder/trae.jpg);
  width: 100%;
  /*   height: 25rem; */
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  padding: 1rem 2rem;
}

#info .text > div {
  padding: 2rem 0;
}

#info h3 {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

#info p {
  font-size: 0.9rem;
}

.pics {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.pics img {
  width: 50%;
  height: auto;
  padding: 0 1rem 1rem 1rem;
  object-fit: contain;
}

/* 
 /////// CONTACT SECTION MOBILE //////
*/

#contact {
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

#contact h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 2rem 0;
}
#contact p {
  font-size: 0.9rem;
}
.contact_text {
  padding-bottom: 2rem;
  max-width: 30rem;
  margin: 0 auto;
}

fieldset {
  border: 0;
}

input,
textarea {
  border: 1px solid rgb(191, 191, 191);
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.bold {
  font-weight: 600;
}
.contact_wrapper button {
  width: 100%;
  background-color: #7a0202;
  height: 2rem;
  color: #fff;
  margin-top: 0.2rem;
}

.contact_wrapper form {
  text-align: left;
  font-size: 1.2rem;
}

#contact iframe {
  width: 100%;
  height: 50vh;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

/* 
 /////// FOOTER SECTION MOBILE //////
*/

footer {
  background-color: #313131;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 2rem;
  color: #fff;
  font-size: 0.9rem;
}

footer img {
  width: 250px;
  height: auto;
  object-fit: contain;
  padding: 1rem 0;
}

footer p {
  padding-top: 2rem;
}

@media (min-width: 500px) {
  .intro_text {
    width: 100%;
    padding: 5rem 20vw;
    max-width: 1200px;
  }

  header {
    height: 6rem;
  }

  /* 
 /////// WELCOME SECTION DESKTOP //////
*/

  #welcome {
    padding: 3rem 2rem;
  }

  #splash {
    margin-top: 6rem;
  }

  .velkommen {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  #welcome p {
    font-size: 0.9rem;
    max-width: 30rem;
  }
  #welcome h2 {
    max-width: 30rem;
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
  }

  .grid {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
  }

  #welcome figcaption {
    font-weight: 600;
  }

  /* 
 /////// INFO SECTION DESKTOP //////
*/
  .pics {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }

  .pics img {
    width: 100%;
    height: auto;
    padding: 0 1rem 1rem 1rem;
    object-fit: contain;
  }

  /* 
 /////// FOOTER SECTION DESKTOP //////
*/

  footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  footer p {
    padding: 0 1rem;
  }

  .footer_wrapper,
  .text_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  .footer_wrapper img {
    width: 33%;
    max-width: 20rem;
    padding: 0 1rem;
    margin-bottom: 3rem;
  }

  footer p:nth-child(1) {
    width: 70%;
    text-align: left;
  }
  footer p:nth-child(2) {
    width: 30%;
    text-align: right;
  }
}
@media (min-width: 500px) {
  .intro_text {
    width: 100%;
    padding: 5rem 20vw;
    max-width: 1200px;
  }
}
@media (min-width: 700px) {
  /* 
 /////// CONTACT DESKTOP //////
*/

  #contact {
    align-items: center;
    margin-bottom: 4rem;
  }
  .contact_wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
  }

  #contact iframe,
  #contact form {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 1rem;
  }

  #contact form {
    padding: 0.5rem;
  }
  #contact iframe {
    height: auto;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 800px) {
  /* 
 /////// INFO DESKTOP //////
*/

  .text {
    display: flex;
    flex-wrap: nowrap;
  }
  #info .text > div {
    padding: 2rem;
    width: 50%;
  }

  #info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }

  #info .pics,
  #info .text {
    max-width: 1200px;
  }
  #info .pics {
    justify-items: center;
  }
  #info .pics img {
    max-width: 200px;
  }
  #info .pics .left {
    justify-self: flex-start;
  }
  #info .pics .right {
    justify-self: self-end;
  }
}

@media (min-width: 1000px) {
  /* 
 /////// NAVIGATION DESKTOP //////
*/

  .mobile_nav {
    display: none;
  }
  .desktop_nav {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 5rem;
  }

  .logo {
    width: 15%;
    height: auto;
    object-fit: contain;
    padding-left: 2rem;
  }

  .link_wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 85%;
    height: 100%;
  }

  .contact_info {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.8rem;
    width: 100%;
    justify-content: flex-end;
    padding: 1rem 2rem;
  }

  .menu {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.8rem;
    width: 100%;
    justify-content: flex-end;
    padding: 0rem 2rem;
  }

  .menu li {
    margin-left: 1.5rem;
    padding-bottom: 0.2rem;
  }

  .email,
  .tel,
  .facebook {
    padding-right: 2rem;
  }

  /* 
 /////// SPLASH SECTION DESKTOP //////
*/

  #splash {
    height: 25rem;
    display: flex;
    justify-content: center;
  }
  .intro_text {
    width: 100%;
    /*   padding: 8rem 2rem; */
    max-width: 1200px;
  }

  .intro_text p {
    font-size: 3rem;
  }
  .intro_text h1 {
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .intro_text button {
    font-size: 1.2rem;
  }

  /* 
 /////// WELCOME SECTION DESKTOP //////
*/

  .grid {
    grid-gap: 2rem;
  }
}

@media (min-width: 1200px) {
  .intro_text {
    padding: 8rem 2rem;
  }
}

/* 
 /////// ANIMATIONS //////
*/

.hide {
  display: none;
}

.fade_in {
  transition: 0.5s;
  opacity: 1;
  z-index: 1;
}

.fade_out {
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
}

.valgt {
  border-bottom: 1px solid #ecc511;
}
